PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=havefun
DB_PASSWORD=changeme
DB_DATABASE=havefun_courses

JWT_SECRET=changeme
JWT_EXPIRES_IN=1d

S3_ENDPOINT=http://localhost:9000
S3_BUCKET=havefun-media
S3_ACCESS_KEY=changeme
S3_SECRET_KEY=changeme
