# compiled output
/dist
/node_modules
*.tsbuildinfo

# logs
*.log

# env
.env

# médias uploadés (stockage disque)
/storage

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# coverage
/coverage
